{% extends "auctions/layout.html" %}

{% block title %}{{ listing.title }}{% endblock %}

{% block body %}

    {% if messages %}
        {% for message in messages %}
            {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    <strong>{{ message }}</strong>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% elif message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    <strong>{{ message }}</strong>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% else %}
                <div class="alert alert-error alert-dismissible fade show" role="alert">
                    <strong>{{ message }}</strong>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endif %}
        {% endfor %}
    {% endif %}

    <h2>Listing: {{ listing.title }}</h2>
    <form method="POST" action="{% url 'watchlist' %}">
        {% csrf_token %}
        <input type="hidden" name="listing_id" value="{{ listing.id }}">
        <button type="submit" class="btn btn-secondary">Watchlist</button>
    </form>
    <img src="{{ listing.url }}" class="rounded mx-auto d-block" style="width: 90%; margin: 8px auto;" alt="{{ listing.description }}">
    <p>{{ listing.description }}</p>

    {% if listing.current_bid %}
        <h4>Price: ${{ listing.current_bid }}</h4>
    {% else %}
        <h4>Starting Bid: ${{ listing.starting_bid }}</h4>
    {% endif %}

    <br>

    <h3>Place Bid</h3>
    <div class="form-group">
        <form method="POST" action="{% url 'bid' listing.id %}">
            {% csrf_token %}
            {% if total_bids == 0 %}
                <small>No bid so far.</small>
            {% else %}
                <small>{{ total_bids }} bid(s) so far.</small>
                {% if request.user == current_bidder %}
                    <small>Your bid is current bid.</small>
                {% else %}
                    <small>{{ current_bidder }}'s bid is current bid.</small>
                {% endif %}
            {% endif %}
            <input type="hidden" name="user_id" value="{{ request.user.id }}">
            <input type="number" class="form-control" name="bid" placeholder="Bid">
            <button style="margin-top:10px;" type="submit" class="btn btn-primary">Place Bid</button>        
        </form>
    </div>

    <h4>Details</h4>
    <ul>
        <li>Listed by: {{ listing.user }}</li>
        <li>Category: {{ listing.category }}</li>
    </ul>

    <h3>Comments</h3>
    
    {% for comment in comments %}
    <div class="card" style="width: 90%; margin: 10px auto;">
        <div class="card-body">
          <h6 class="mb-2">@{{ comment.person }}</h6>
          <p class="card-text">&nbsp&nbsp{{ comment.comment }}</p>
          <small class="text-body-secondary">Posted: {{ comment.dateCommented }}</small>
        </div>
      </div>
    {% empty %}
        <div>
            
        </div>
    {% endfor %}


    <hr>
    <div class="form-group">
        <form method="POST" action="{% url 'comment' listing.id %}">
            {% csrf_token %}
            <input type="hidden" name="user_id" value="{{ request.user.id }}">
            <textarea class="form-control" name="comment" placeholder="Your Comment..."></textarea>
            <button style="margin-top:10px;" type="submit" class="btn btn-primary">Post</button>        
        </form>
    </div>


{% endblock %}